.driver-card{
    border: 2px solid grey;
    border-radius: 5px;
    margin-bottom: 5px;

    .driver-data {
        display: flex;
        margin-left: 5px;
        margin-top: 5px;

        .driver-img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }

        .driver-meta {
            padding-left: 10px;

            .driver-name {
                font-size: 19px;
                font-weight: bold;
                padding-bottom: 5px;
            }
            .driver-age {
                text-align: left;
            }
        }
    }

    .extra-zone{
        display: flex;
        justify-content: center;
        margin-top: 3px;
        margin-bottom: 3px;

        .button{
            margin-right: 4px;
            margin-left: 4px;
        }
    }
}